<div class="container">
    <div class="row">
        <div class="card col-3 mb-2" *ngFor="let item of list" [ngClass]="{'col-4': entity=='Ships'}">
            <div class="card-body" *ngIf="entity=='Cars'">
                <img [src]="item.image_car" alt="item.name" class="card-img">
                <h5 class="card-title">{{item.name}}</h5>
                <div class="card-text">{{item.desc_excerpt}}</div>

            </div>
            <div class="card-body" *ngIf="entity=='Users'">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title"> {{ item.first_name }} {{ item.last_name }}</h5> 
                    </div>
                    <div class="col-1 text-end" *ngIf="permission.hasRole('admin') || permission.currentUser(item?._id)">
                        <button class="btn btn-success btn-sm" (click)="editUser(item._id)"  >
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="card-body" *ngIf="entity=='starShip'">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{item.name}}</h5>
                    </div>
                    <div class="col-3 text-end"> <button class="btn btn-primary btn-sm"
                            (click)="openStarship(item.url)"><i class="fa fa-pencil"></i></button>
                    </div>
                </div>

                <h5 class="card-title">{{item.cost_in_credits}}</h5>
                <p>Films:</p>
                <ul>
                    <li *ngFor="let film of item.films">
                        URL: {{ film }}
                    </li>
                </ul>
            </div>
            <div>
                <span *ngIf="!item.liked" (click)="likeItem(item,list)"><i class="fa fa-heart-o"></i></span>
                <span *ngIf="item.liked" (click)="unLikeItem(item,list)"><i class="fa fa-heart red"></i></span>
            </div>
        </div>
    </div>
</div>