<p><input type="text" id="username" name="username" ref-username></p>
<h1> Hello {{name}}</h1>

<button type="button" (click)="getInputName(username.value)">Clickme</button>

<div class="row">
    <div class="col">
        <p>Ceilnumb1 {{ceilNum1}}</p>
        <p>Ceilnumb2 {{ceilNum2}}</p>
        <input type="text" [(ngModel)]="ceilNum1">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" placeholder="First Number" ref-firstNumber>
        </div>
        <div class="col">+</div>
        <div class="col">
            <input type="text" placeholder="Second Number" ref-secondNumber>
        </div>
        <div class="col">
            <button type="button" (click)="sum(firstNumber.value,secondNumber.value)">Clickme</button>
        </div>
    </div>
    <div class="row">
        <p>Result:{{result}}</p>
    </div>

    <div class="row">
        <div class="card-body">
            <input type="text" class="form-control" [(ngModel)]="title">
        </div>
    </div>

    <div>
        <button type="button" (click)="testConfirmable()">Test Confirmable</button>
    </div>
</div>
<app-popup-chat></app-popup-chat>